In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('~/Downloads/airline2.csv')

In [3]:
df[["Month", "DayofMonth"]] = df[["Month", "DayofMonth"]].astype(str)
df["date"] = df["DayofMonth"] +'-'+ df["Month"]
df["date"] = pd.to_datetime(df["date"], format="%d-%m", errors="coerce")
df["date"]

0       1900-01-03
1       1900-01-03
2       1900-01-03
3       1900-01-03
4       1900-01-03
           ...
99995   1900-02-22
99996   1900-02-22
99997   1900-02-23
99998   1900-02-23
99999   1900-02-23
Name: date, Length: 100000, dtype: datetime64[ns]

In [4]:
df["date"].isna().sum()

709

In [5]:
df[df["date"].isna()]

,FlightID,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,CRSElapsedTime,Origin,Dest,Distance,date
10804,DTPQXZFW60546,2,29,5,800,915,WN,436,N489WN,75.0,ABQ,PHX,328,NaT
10805,BGCDBKUB55462,2,29,5,1720,1815,WN,3506,N325SW,55.0,AUS,DAL,189,NaT
10806,WFYDAMMS65538,2,29,5,655,920,WN,1615,N676SW,85.0,BHM,MCO,478,NaT
10807,QSNEGOUB43565,2,29,5,1020,1305,WN,2701,N616SW,105.0,BNA,MCO,616,NaT
10808,JWGCUWHA42421,2,29,5,1215,1425,WN,100,N757LV,310.0,BUF,LAS,1987,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99448,SBOAWFFC10289,2,29,5,920,1022,OH,5380,N814CA,62.0,CVG,TRI,216,NaT
99449,RWJJHVNU93100,2,29,5,1743,2023,OH,5456,N435CA,100.0,MCI,CVG,539,NaT
99450,BSWSJJBC37554,2,29,5,1333,1424,OH,5537,N805CA,51.0,CMH,CVG,116,NaT
99451,UUVJKACO76228,2,29,5,900,1049,OH,5625,N932CA,109.0,BOS,DCA,399,NaT
99452,SEOYMGJJ86508,2,29,5,1320,1425,OH,5698,N589SW,65.0,CVG,PIT,256,NaT

In [6]:
df[["Month", "DayofMonth"]] = df[["Month", "DayofMonth"]].astype(str)
df["date"] = df["DayofMonth"] +"-"+ df["Month"] + "-2020"
df["date"] = pd.to_datetime(df["date"], format="%d-%m-%Y", errors="coerce")
df["date"]

0       2020-01-03
1       2020-01-03
2       2020-01-03
3       2020-01-03
4       2020-01-03
           ...
99995   2020-02-22
99996   2020-02-22
99997   2020-02-23
99998   2020-02-23
99999   2020-02-23
Name: date, Length: 100000, dtype: datetime64[ns]

In [7]:
df["date"].isna().sum()

0

In [8]:
df[(df['date']>="2020-01-02") & (df['date']<="2020-01-05")]['FlightNum'].count()

10015

In [9]:
def NombreVol(day1, month1, day2, month2):
    df = pd.read_csv('~/Downloads/airline2.csv')
    df[["Month", "DayofMonth"]] = df[["Month", "DayofMonth"]].astype(str)
    df["date"] = df["DayofMonth"] +"-"+ df["Month"] + "-2020"
    df["date"] = pd.to_datetime(df["date"], format="%d-%m-%Y", errors="coerce")
    data1 = "2020-{}-{}".format(day1, month1)
    data2 = "2020-{}-{}".format(day2, month2)
    vols = df[(df['date']>=data1) & (df['date']<=data2)]['FlightNum'].count()
    if vols > 0:
        return vols
    else:
        return "Aucun vol ce jour là."

In [10]:
NombreVol("02", "01", "02", "01")

553

In [11]:
NombreVol("02", "01", "05", "01")

24279